#users-feed {
	position: relative;
	top: 80px;
}

[contenteditable="true"] {
	caret-color: red;
	background-color: lightblue;
	border: 1px solid black;
	width: fit-content;
}

.inline-editable-item {
	cursor: pointer;
}

.user-gender::before {
	content: "gender: ";
}

.user-bolking-age::before {
	content: "age: ";
}
.user-card {
	min-width: 17rem;
	max-width: 20rem;
	margin: 1px;
}

.user-info-item, .card-header {
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.user-img {
    margin: 10px auto;
	width: 100px;
	border-radius: 100px !important;
	align-self: center;
	box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.37);
}
